<body>
    <h2 class="title">Bienvenido Entrenador <img width="80px" height="80px" src="../../assets/poke-removebg-preview.png" alt=""></h2>

    <div>
        <div>
            <div>
                <form #contactForm="ngForm" (ngSubmit)="change(contactForm.value)">
                    <div>
                        <label >Username</label><br>
                        <input type="text" name="username" placeholder="Enter the username" ngModel required #username="ngModel">
                        <div [hidden]="username.valid || username.pristine"><p>This field is required</p></div>
                    </div><br><br>
                    <div>
                        <label>Last name</label><br>
                        <input type="text" name="lastname" placeholder="Enter the last name" ngModel required #lastname="ngModel">
                        <div [hidden]="lastname.valid || lastname.pristine"><p>This field is required</p></div>
                    </div><br><br>
                    <div class="mx-5">
                        <label>Password</label><br>
                        <input type="password"name="password" placeholder="Enter the password" ngModel required #password="ngModel">
                        <div [hidden]="password.valid || password.pristine"><p>This field is required</p></div>
                    </div>
                    <div ngI></div>
                    <button class="p-4  bg-green-500 text-black" [disabled]="contactForm.invalid">Registrarse</button>
                    <a href="/">Iniciar Aventura</a>
                </form>
            </div>
        </div>
    
    
        
        <!-- <div>
            <a href="/dashboard" class="btn-sign p-3 mx-6 rounded-md hover:bg-purple-400 transition-all">Ingresar</a>
            <a href="/" class="btn-sign p-3 mx-6 rounded-md hover:bg-purple-400 transition-all">Iniciar Sesion</a>
        </div> -->
    </div>
</body>