<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">

<body>
    <h2 class="title">Bienvenido Entrenador <img width="80px" height="80px" src="../../assets/poke-removebg-preview.png" alt=""></h2>
    <div class="mensaje">{{message}}</div>
    <div>
        <div>
            <div class="formis">
                <img style="margin-left:120px; padding:20px 0;" width="100px" height="100px" src="../../assets/dorado.png" alt="">
                <form #contactForm="ngForm" (ngSubmit)="change(contactForm.value)">
                    <div>
                        <label >Username</label><br>
                        <input type="text" name="username" required="required" placeholder="Enter the username" ngModel required #username="ngModel">
                        <div [hidden]="username.valid || username.pristine"><p>This field is required</p></div>
                    </div>
                    <div class="mx-5">
                        <label>Password</label><br>
                        <input type="password"name="password" placeholder="Enter the password" ngModel required #password="ngModel">
                        <div [hidden]="password.valid || password.pristine"><p>This field is required</p></div>
                    </div>
                    <!-- <div ngI></div> -->
                    <button class="p-4  bg-green-500 text-black" [disabled]="contactForm.invalid">Iniciar Aventura</button>
                    <a href="/sign">Registrarse</a>
                    <a href="/lost">Olvide mi contraseña</a>
                </form>
            </div>
        </div>
        <!-- <div class="h-8 w-80 text-center">
            <a href="/dashboard" class="btn-sign p-3 mx-6 rounded-md hover:bg-purple-400 transition-all">Iniciar Sesion</a> -->
        <!-- </div> -->
    </div>
<!-- 
    <div>{{contactForm.value.username | json}}</div> -->

</body>